    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
    * {
        font-family: 'Montserrat', sans-serif;
    }
    
    .page {
        width: 100%;
        min-height: 100vh;
        background: url(Shape1.png) #716d6d2e;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        overflow-x: hidden;
    }
    
    form input {
        margin-left: 10px;
        border: 1px solid transparent;
        outline: none;
        border-radius: 16px;
        transition: all 0.5s ease;
    }
    
    form input:focus,
    form input:checked {
        border: 1px solid red;
    }
    
    .logo-x {
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }
    
    .logo-x a.logo {
        width: 90px;
        margin-right: 5px;
    }
    
    .logo-x a img {
        width: 100%;
    }
    
    .logo-x a i {
        line-height: 90px;
        margin-left: 5px;
        color: #a80532;
    }
    
    .nav-x {
        margin-left: auto;
        margin-right: 100px;
    }
    
    .nav-x li {}
    
    .nav-x li a {
        font-size: 17px;
        font-weight: 700;
        margin: 0 41px;
        color: #716d6d;
        transition: color 0.3s ease;
    }
    
    .nav-x li a:hover {
        color: red;
    }
    
    .navbar-toggler i {
        color: #a80532;
    }
    
    .page-cont {
        margin-left: auto;
        text-align: center;
        margin-right: 70px;
        padding: 100px 0 0 0;
    }
    
    .page-cont h2,
    .page-cont h3,
    .page-cont h4 {
        font-size: 58px;
        color: red;
        font-weight: 600;
    }
    
    .page-cont h3 {
        margin-left: 55px;
    }
    
    .page-cont h4 {
        margin-left: 140px;
    }
    
    .page-cont h5 {
        text-align: end;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 5px;
        text-shadow: 2px 1px 2px #330a7991;
    }
    
    .page-cont p {
        font-size: 17px;
        text-align: initial;
        color: #080808;
        font-weight: 500;
        width: 90%;
        margin-left: auto;
        text-shadow: 2px 1px 2px #330a7991;
    }
    
    .social-link {
        text-align: end;
        margin: 25px 0;
    }
    
    .social-link a {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: red;
        color: white;
        border-radius: 50%;
        transition: all 0.5s ease;
    }
    
    .social-link a:hover {
        transform: translateY(-20px);
    }
    
    .social-link a i {
        line-height: 30px;
    }